@charset "utf-8";

/* CSS Document */

html {

   font-size: 62.5% 

  }

 @media only screen and (min-width: 320px){

   html {

   font-size: 62.5% !important;

  }

}

 @media only screen and (min-width: 640px){

 html {

   font-size: 125% !important;

 }

 }

html, body, form, p, h1, h2, h3, h4, h5, h6, dl, ul, ol, li, dt, dd, select { margin: 0; padding: 0;  }

body, select, input, option { color: #333443; font: 16px/1.5 "Microsoft YaHei",Arial; -webkit-text-size-adjust: 100%; }

ul, ol, li { list-style-type: none; }

input, button, textarea { font-size: 16px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a{ text-decoration: none; color:#333443 }

a:hover { color: #FF6600; }

a img { border: 0 none; }

input:focus::-webkit-input-placeholder { color: rgba(0,0,0,0); }

input::-webkit-input-placeholder { color: #999; }

input:focus::-moz-placeholder { color: rgba(0,0,0,0); }

input::-moz-placeholder { color: #999; }

input:focus:-ms-input-placeholder { color: rgba(0,0,0,0); }

input:-ms-input-placeholder { color: #999; }

input[type="button"], input[type="text"], input[type="submit"], input[type="search"], input[type="email"], input[type="number"], input[type="phone"], button { -webkit-appearance: none; -moz-appearance: none; -webkit-border-image: none; border-image: none; -webkit-border-radius: 0; border-radius: 0; }

.clear{ clear:both }

.clearfix:after { content: ""; display: block; height: 0; overflow: hidden; clear: both; visibility: hidden; }

body{max-width:640px; margin: 0 auto; background-color: #f2f2f2; font-family:"PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif}

.bgwhite{ background-color:#FFF;}

.fl{ float:left}.fr{ float:right}

.pall{padding:1rem}

.mt1{margin-top:1rem;}

.pt01{padding-top:1.5rem;}

.pt1{padding-top:1rem;}

.bordb{ border-bottom:solid 1px #e3e3e3;}

/*index*/

.header{padding:0.7rem 1rem;height: 4rem;display: -webkit-flex;display: flex;}

.header .logo{vertical-align: middle;align-items: center; width:13rem;margin-right:1.5rem}

.logo a{}

.logo img{max-width:100%;height:100%;}

.ss{width:80%; }

.search {position: relative;background-color: #e8e8e8;width: 100%;height: 2.8rem;border-radius: 2.7rem;margin-top: 0.9rem;}

.search input[type="search"] { background-color:#e8e8e8; width:78%;border-radius:2.7rem; overflow:hidden; text-indent:1.5rem;}

.search input { float:left; display:block; height:2.8rem; border:none; outline:none;/*margin-top:0.9rem*/}

.search input[type="submit"] { background:url(../images/seach.png) no-repeat center;position: absolute;right:0.8rem; top:0rem;width:2.8rem;height:2.8rem;padding:1rem 1rem; background-size:80% 80%; vertical-align:middle; cursor:pointer; }

.menu{}

.menu ul{display: -webkit-flex;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;align-items: center;-moz-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;padding:0rem 1rem; font-size:1.8rem;}

.menu ul li a{display: inline-block;padding:1rem 0 0.6rem 0; cursor:pointer; text-align:center}

.menu ul li a.press{ border-bottom:solid 4px #63a4ff; color:#0a63de;}

/*focus*/

.Hemfocus{position:relative;height:13.2rem;}  

.Hemfocus img{width:100%;height:13.2rem; display:block; border-radius:0.7rem;} 

.Hemfocus .shadow .title{width:260px;height:65px;padding-left:30px;padding-top:20px;}

.Hemfocus .shadow .title a{text-decoration:none;color:#fff;font-size:14px;font-weight:bolder;overflow:hidden;}

.Hemfocus .btn{position:absolute;bottom:34px;left:510px;overflow:hidden;zoom:1;} 

.Hemfocus .btn a{position:relative;display:inline;width:13px;height:13px;border-radius:7px;margin:0 5px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9;}  

.Hemfocus .btn a:hover,.Hemfocus .btn a.current{cursor:pointer;background:#fc114a;}  

.Hemfocus .fPic{position:absolute;left:0px;top:0px;width:100%;}  

.Hemfocus .D1fBt{overflow:hidden;zoom:1;height:16px;z-index:10;}  

.Hemfocus .shadow{width:100%;position:absolute;bottom:0;left:0px;z-index:10;height:48px;line-height:48px; background:url(../images/Hemfocusbg.png) repeat-x top;display:block;text-align:left;border-radius:0 0px 12px 12px;}  

.Hemfocus .shadow a{text-decoration:none;color:#fff;font-size:1.6rem;overflow:hidden;margin-left:1rem; white-space:nowrap; display:block; text-overflow:ellipsis;}  

.Hemfocus .fcon{position:relative;width:100%;float:left;display:none;background:none  }  

.Hemfocus .fcon img{display:block;}  

.Hemfocus .fbg{top:6px;right:5px;position:absolute;height:21px;text-align:center;z-index:200;}  

.Hemfocus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    

.Hemfocus .D1fBt a{position:relative;display:inline;width:10px;height:10px;border-radius:7px;margin:0 3px;color:#B0B0B0;font:12px/15px "\5B8B\4F53";text-decoration:none;text-align:center;outline:0;float:left;background:#D9D9D9; opacity:0.4;}    

.Hemfocus .D1fBt .current,.Hemfocus .D1fBt a:hover{background:#fff;width:20px;opacity:1;}    

.Hemfocus .D1fBt img{display:none}    

.Hemfocus .D1fBt i{display:none;font-style:normal;}    

.Hemfocus .prev,.Hemfocus .next{position:absolute;width:3.35rem;height:3.35rem;background:url(../images/Backzx.png) no-repeat center;top:50%;margin-top:-2.5rem;cursor: pointer; border-radius:0.7rem; opacity:0.3}

.Hemfocus .prev{left:0; background-size:24px 24px;background-color: rgba(0,0,0,0.3);color: #fff; }  

.Hemfocus .next{right:0; background-size:24px 24px;background-color: rgba(0,0,0,0.3);-moz-transform:scaleX(-1);

    -webkit-transform:scaleX(-1);

    -o-transform:scaleX(-1);

    transform:scaleX(-1);}  

.Hemfocus .prev:hover, .Hemfocus .next:hover{background-color: rgba(0,0,0,0.9); opacity:0.9}  

.Hemfocus .next:hover{}  

/*focus end*/

.subnav{/*display: -webkit-flex;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;align-items: center;-moz-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;*/ font-size:1.4rem; color:#5c5c5c;}

.subnav a{display:block;padding:0.5rem 0 1rem 0; cursor:pointer;width:25%; text-align:center; float:left;}

.subnav a i{ display:block;width:54%;margin:0 auto;margin-bottom:0.1rem;}

.subnav a i img{max-width:100%;width:100%;height:100%;}

.title{height:2.5rem;padding:1rem; font-size:1.6rem; line-height:2.5rem;}

.title h3{ float:left}

.applist ul{ font-size:1.4rem; color:#5c5c5c;}

.applist li{width:23%;float:left;padding:0.5rem 1% 0.5rem 1%;}

.applist li a{width:100%; text-align:center; display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

.applist li a i{ display:block;width:73%;margin:0 auto;}

.applist li a i img{max-width:100%;width: 5.6rem;height: 5.6rem; border-radius:0.7rem;}

.more{ display:inline-block;font-size:1.2rem; color:#999; float:right; cursor:pointer; }

.slide-box{display: -webkit-box;overflow-x: auto;-webkit-overflow-scrolling:touch;padding:0 0.5rem 1rem 0.5rem ;}

.slide-box li.slide-item{width: 13.1rem; padding:0 0.5rem; }

.slide-item a{ text-align:center; display:block;font-size:1.4rem;}

.slide-item i{ display:block;}

.slide-item img{ border-radius:0.7rem;width: 13.1rem;height:7.5rem;}

.slide-box::-webkit-scrollbar {display: none;}/*隐藏掉滚动条*/

.titchoose{display: -webkit-flex;display: flex;-webkit-box-pack: justify;-webkit-justify-content: space-between;align-items: center;-moz-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;margin:0 1rem 1rem 1rem; }

.titchoose a{height:2rem; font-size:1.8rem; line-height:2rem;width:50%; text-align:center;padding:1rem 0; display:inline-block;border-bottom:solid 1px #ededed;}

.titchoose a.press{ color:#0b63dd; border-bottom:solid #63a4ff 2px; font-weight:600;}

.zxlist{margin:0 1rem 1rem 1rem;}

.zxlist li{/*display: -webkit-flex;display: flex;*/margin-bottom:1.2rem; width:100%; position:relative; display:block}

/*.zxlist li:hover{ background-color:#f7f7f7;border-radius: 12px;}*/

.zxlist li div.zximg{width:32%;margin-right:2%; float:left}

.zximg a{ }

.zximg img{max-width:100%;width:100%;height:100%;border-radius: 0.7rem; max-width:none; height:6.4rem;}

.zxlist li div.zxtxt {width:66%;float:left}

.zxlist li div.zxtxt .zxtit{font-size:1.58rem; overflow:hidden;height:4.2rem; display:block; }

.zxclass{ right:0; bottom:0; display:block;font-size:1.2rem; color:#999; position:absolute;}

.zxclass a{ color:#999;}

footer{height:1.7rem;margin-top:1rem; background-color:#fff; text-align:center;padding:1rem; font-size:1.2rem}

.empty{margin:7rem 0 8rem 0;text-align:center}

.emptyimg{width:6rem;height:6rem; margin:0 auto; display:block}

.emptyimg img{width:100%;height:100%;}

.empty p{ font-size:1.4rem; color:#bdbdbd;padding-top:0.5rem; }

.empty a.backhome{width:10.25rem;height:2.375rem; display:block; text-align:center; color:#FFF; background-color:#63a4ff;border-radius: 6px; line-height:2.375rem;margin:4.375rem auto 0 auto; font-size:1.2rem;  }

.empty a:hover.backhome{background-color:#3f8bf4;}

.goTop { background: #738599 url(../images/up.png) no-repeat;border-radius: 3px; bottom: 60px; height: 32px;width: 32px; opacity: 0.8;position: fixed;right:10px;z-index: 99;}

/*apple android*/

.tjlist{ display:block; background-color:#FFF; overflow:visible}

.tjlist ul li {width:50%;float: left;margin-bottom:1.6rem;}

.tjlist ul li a.li_img {width:5.8rem;height:5.8rem; float:left;margin-left:1rem;}

.tjlist ul li a.li_img img { width: 100%; height: 100%; border-radius:12px; }

.tjlist ul li .li_infro{padding-left:7.6rem;padding-right:1rem; }

.tjlist ul li .li_infro p { overflow: hidden; white-space:nowrap; display:block; }

.tjlist ul li .li_infro .ptit { font-size:1.6rem; color: #333443; line-height:1.8rem; height:1.8rem; word-break: break-all;  }

.tjlist ul li .li_infro .ptit a { color: #444; }

.tjlist ul li .li_infro .pstar { margin:0.6rem 0;height:1.3rem; }

.tjlist ul li .li_infro .pstar img{max-width:100%;height:88%; vertical-align:top;}

.tjlist ul li .li_infro .ptxt { font-size:1.2rem; color: #999; line-height:1.2rem; height:1.2rem; }

.tjlist ul li .li_infro .ptxt a{ color:#999; }

	/*list */

.category{ position:relative; border-bottom:solid 1px #e3e3e3; }

.sliderTxt{overflow: hidden;position: relative;}	

.sliderTxt .swipeWrap{margin-right: 40px;}	

.sliderTxt .tabTxtSwipe{position: relative;margin: 0 10px;box-sizing: border-box;-moz-sizing: border-box;-webkit-sizing: border-box;overflow: hidden;}

.sliderTxt .tabTxtSwipe a{display:inline-block;text-decoration: none;margin:0.5rem;text-align: center;font-size:1.6rem;line-height:3rem;padding:0 1rem;}

.sliderTxt .tabTxtSwipe li{float: left;}	

.sliderTxt .tabTxtSwipe .current a{color:#fff; background-color:#63a4ff;line-height:3rem; border-radius:1.5rem;}	

/*下拉*/

.right_nav {background:#f9f9f9; position: absolute; z-index: 2000;right:0;top:0;width:4rem; }

.right_nav p {color: #ededed; font: 14px MarketingScript, futura-pt-1, futura-pt-2, Futura, "Century Gothic", AppleGothic, Verdana, sans-serif; text-indent:-9999px}

#large-meta {display: none;}

.r_nav li { list-style: none; text-align: center; float:left;width:25%;white-space: nowrap;margin-bottom:1rem}

.r_nav li a{width:86%; background-color:#f5f5f7; height:3rem; line-height:3rem; display:inline-block; border-radius:0.5rem; font-size:1.4rem}

.r_nav li:last-of-type {border: none;}

.r_nav a:link {color: #333443; }

.r_nav a:visited {color: #333443;}

.r_nav a:hover {color: #0a63de;}

/* Mobile Nav & Conditional Navs */

.right_nav p a:link, .right_nav p a:visited, .right_nav p a:hover, .right_nav p a.active {background:#f8f8f8 url(../images/nav_right.png) no-repeat center;height:4rem;width:4rem; background-size:100% 100%;display:block}

.right_nav p a:hover, .right_nav p a.active  { /*transform: rotateX(180deg);*/}

.no-js .nav-js {display: none;} /* .js nav button */

.js .nav-nojs {display: none;} /* .no-js nav button */

.no-js .nav-nojs {margin-top: 0;}

.large-nav {background:#fff;/*opacity:0.95;filter:alpha(opacity=95);-moz-opacity:0.95; -khtml-opacity: 0.95;*/display: none; position: absolute; right: 0; top:4.05rem; width: 100%; z-index: 1000; -webkit-box-shadow: 0 -1px 2px #ededed; -moz-box-shadow: 0 -1px 2px #ededed; box-shadow:0px 5px 12px #e5e5e5;padding:1rem 0 1rem 0;} /* once past iPhone */

.small-nav {background-color: #fff; position: relative; z-index: 1000;} /* if no js */

.js .small-nav {display: none;} /* if js */

/*category end*/

.list{  }

.list ul li {width:100%;float: left;margin-bottom:1.6rem; position:relative; border-bottom:dotted 1px #d9d9d9;padding-bottom:1.6rem}

.list ul li a.li_img {width:6rem;height:6rem; float:left;margin-left:1rem; }

.list ul li a.li_img img { width: 100%; height: 100%; border-radius:0.7rem; }

.list ul li .li_infro{padding-left:7.9rem;padding-right:8.8rem; }

.list ul li .li_infro p { overflow: hidden; white-space:nowrap; display:block; }

.list ul li .li_infro .ptit { font-size:1.6rem; color: #333443; line-height:2rem; height:2rem; word-break: break-all;  }

.list ul li .li_infro .ptit a { color: #444; }

.list ul li .li_infro .pstar { margin:0.6rem 0;height:1.6rem;font-size: 1rem;color: #666; }

.list ul li .li_infro .pstar img{max-width:100%;height:88%; vertical-align:top;}

.list ul li .li_infro .ptxt { font-size:1.2rem; color: #999; line-height:1.2rem; height:1.2rem; }

.list ul li .li_infro .ptxt a{ color:#999; }

.list ul li a.li_btn{ position:absolute; right:1rem;top:50%;width:7.4rem;height:3.3rem; line-height:3.3rem; text-align:center; border:solid 1px #63a4ff; border-radius:0.7rem; background-color:#fafcff;margin-top:-2.4rem; font-size:1.6rem; color:#63a4ff;}

.list ul li a:hover.li_btn{ background-color:#63a4ff; color:#FFF;}

/*zhuanti*/

.ztlist ul li{width:50%; float:left; text-align:center; margin-bottom:1.5rem;}

.ztlist ul li a{padding:0 1rem 0 1rem; display:block;}

.ztlist ul li a p.ztli_img img{max-width:100%;width: 14rem;height:8rem; border-radius:0.7rem;}

.ztlist ul li a font{ display:block; line-height:2.2rem;font-size:1.4rem; overflow:hidden; white-space:nowrap; }

/*article*/

.news_h{ font-size:1.8rem;}

.times{height:1.2rem; line-height:1.2rem; color:#999;padding:0 1rem 1rem 1rem;vertical-align:middle; font-size:1.2rem;}

.times i.time_icn{width:1.2rem;height:1.2rem; background:url(../images/time.png) no-repeat center; vertical-align:middle; display:inline-block; background-size:96% 96%;margin-right:0.4rem;}

.river{ background-color:#fafafa;}

.river .list ul li{ border-bottom:none;padding-bottom:0;}

.river_foot{padding-bottom:1.5rem;}

.river_foot a{height:3rem; line-height:3rem;width:45.5%; display:block; border:solid 1px #3faf21; background-color:#FFF; box-sizing:border-box; border-radius:0.4rem; text-align:center;font-size:1.4rem; color:#3faf21;margin-left:1rem; float:left;}

.zxinfo_text{ padding:1rem; font-size:1.4rem;}

.zxinfo_text p{ margin-bottom:1.5rem; text-align:justify}

.zxinfo_text img{display: block;max-width: 100%;height: auto !important;cursor: pointer; margin:0 auto; }

.zxtxt_list ul{padding:0 1rem 1rem 1rem;}

.zxtxt_list ul li{height:3rem; line-height:3rem; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size: 1.4rem;}

.zxtxt_list ul li em{font-size: 2rem;font-style:normal; color:#bdbdbd; vertical-align:middle;margin-right:0.3rem; }

/*app*/

.apptop{width:100%;float: left;margin-bottom:1rem; position:relative; border-bottom: solid 1px #e3e3e3;padding-bottom:1.6rem}

.apptop a.article_img {width:7rem;height:7rem; float:left;margin-left:1rem; }

.apptop a.article_img img { width: 100%; height: 100%; border-radius:0.7rem; }

.apptop .app_infro{padding-left:8.9rem;padding-right:8.8rem; }

.apptop .pc_infro{padding-right:1rem;}

.apptop .app_infro p { overflow: hidden;/* white-space:nowrap; */display:block; }

.apptop .app_infro .ptit { font-size:2rem; color: #333443; line-height:2.2rem;/* height:2rem;*/ word-break: break-all; font-weight:600;margin:0.5rem 0 0.8rem 0; }

.apptop .app_infro .ptxt { font-size:1.2rem; color: #999; line-height:1.2rem; height:1.2rem; }

.cnaac_rz{ position:absolute; right:1rem;top:2.9rem; width:4rem; overflow:hidden; opacity:0.6}

.cnaac_rz img{width:4rem;height:4rem;}

.adetail ul li{width:50%; float:left;height:2.5rem; line-height:2.5rem; font-size:1.3rem; overflow:hidden; white-space:nowrap; color:#666; }

.adetail ul li span{padding:0 1rem}

.adetail ul li.star img{max-width: 100%; display:inline-block; vertical-align:middle;height:54%;margin-top:-0.25rem }

.xzbox a.app_dbtn{ background-color:#63a4ff;width: 100%; height:3.7rem; display:block;border-radius:0.1rem; font-size:1.6rem; text-align:center; line-height:3.7rem; color:#FFF; }

.xzbox a:hover.app_dbtn{color:#FFF;}

.xzbox a.online{ background-color:#fafcff; border:solid 1px #63a4ff; color:#63a4ff; box-sizing:border-box;}

.xzbox a:hover.online{color:#63a4ff;}

.scrollbox{ padding:0 1rem 0.5rem 1rem;}

.horizontal{height:220px;}

.pcheight {height: 135px;}

.horizontal p img{width: 600px;}

.horizontal ul li{float: left; padding-right:2px;/*width:5%*/}

.horizontal ul li img{width:135px;}

#shotCont{ position:relative;width: 100%; overflow: hidden; z-index: 1000;}

#scroller{ position: absolute; transform:translateZ(0px); z-index: 1;}

.shot-ul{ width: 800px;}

/*description start*/

.de-intro-wrap{}

.de-tips-wrap{ position: relative; display: table; width: 768px; height: 120px; border: 1px #eee solid; padding:8px 0 8px 90px; background: url("img/introBg.png") no-repeat 20px center;}

.middle-case{display: table-cell; vertical-align: middle; *position: absolute; *top:50%; }

.de-intro-tip{  line-height: 24px; color: #666; *position: relative; *top:-50%;}

.de-intro-tip li{ padding-left:13px; background-position: -280px -52px;}

.de-intro-tip a{ color:#59ad00;}

.de-intro{ margin-top: 13px; line-height:2.2rem; font-size: 1.4rem; color: #666;padding:0 1rem;text-indent:2em;}

.de-intro a {color: #FF6600;}

.hide-cont{ height:30rem; overflow: hidden;}

.intro-more{ height:3.7rem;line-height:3.7rem; text-align: center; display: none; background:#f7faff;margin:1rem;font-size: 1.4rem; border-radius:0.1rem;}

.intro-more a{ color: #63a4ff;}

/*description end*/

.aztli li{width:50%; float:left; text-align:center;padding-bottom:0.5rem}

.aztli li a{margin:0 1rem; display:block;font-size: 1.4rem; line-height:3rem;}

.aztli li a img{border-radius: 0.7rem; display:block; width:100%;max-width:100%;}

.ss_total{ font-size:1.4rem; color:#999; padding:0 1rem;}

.ss_total em{color:#ff0000; font-style:normal;}

.sstit{margin:0 0 1rem 0;}

/*muen*/

.wrap{min-width: 320px;max-width:768px;margin:0 auto;overflow:hidden;position:relative;}

.htit{line-height:1rem;padding:0 .3rem;color:#ff8e2e;font-size: .4rem;margin:1rem 0 .4rem 0}

.wrapper03{position:relative;height:5rem;width: 100%;overflow: hidden;margin:0 auto;}

.wrapper03 .scroller{position:absolute}

.wrapper03 .scroller li{height:3.5rem;color:#333;float: left;line-height:3.5rem;font-size: 1.8rem;text-align: center}

.wrapper03 .scroller li a{color:#333;display:block;margin:0.95rem 1rem 0rem 0.95rem;/*padding:1rem 0 0.6rem 0;*/}

.wrapper03 .scroller li.cur a{color:#0a63de;border-bottom:0.3rem solid #63a4ff}

/*zhanti  */

.zt_top{padding:1rem;}

.zt_tlimg{width:38%; float:left}

.zt_tlimg img{max-width:100%; border-radius:0.7rem; display:block;width: 100%;height: auto;} 

.zt_trtxt{width:60%; float:right; overflow:hidden}

.zt_trtxt h3{ font-weight:normal;font-size:1.6rem; overflow:hidden; white-space:nowrap; }

/*.zt_trtxt p{ font-size:12px; color:#666;padding-top:5px;}*/

.zt_tinfo{ overflow:hidden;margin-bottom:10px; font-size:14px}

.fl{ float:left}.fr{ float:right}

.zt_tinfo span{ color:#999; font-size:12px}

.zt_tinfo span em{font-style:normal; color:#222}

.zt_trtxt .de-intro {margin-top:0.2rem;line-height:1.8rem;font-size: 1.2rem;color: #666;padding: 0;}

.zt_trtxt .hide-cont {height: 1.8rem;overflow: hidden;}

.zt_trtxt .intro-more {height:2.4rem;line-height:2.4rem;text-align: center;display: none;background: #f7faff; font-size: 1rem; border-radius: 0.1rem;width: 40%;float: right;margin:0;}

.zt_trtxt .intro-more a{ display:inline-block;width:100%;}

.intro-re{height:2.4rem;line-height:2.4rem; color:#999;font-size:1rem;margin: 0.5rem 0 0 0;}

.intro-re em{ font-style:normal;}

.ztcate ul li .li_infro{padding-left:1rem;padding-right:8.8rem; }

.ztcate ul li .li_infro .ptxt span{padding-left:0.3rem}

/*pages*/

.fybg{margin:0 1rem 1rem 1rem;}

.backpage,.nextpage{ float:left;width:49%;}

.nextpage{ float:right;}

.fenye{width:59%;float:left;padding-left:1%; text-align:center}

.top_page a{ border:solid #d9d9d9 1px; border-radius:0.1rem; text-align:center;height:3.2rem; line-height:3.2rem; display: inline-block; background:#f8f8f8;width:49%; font-size:1.4rem; color:#666;}

.fenye{ line-height:3.2rem; color:#999;height:3.2rem;}

.fenye strong{ color:#ff9000;}

.fenye input.bttxt{height:35px; border:solid 1px #8f8f8f;border-radius:2px;width:35px;}

/*.fenye input.btngo{padding:0 5px;height:35px; line-height:35px;border-radius:2px; background:#cdcdcd; cursor:pointer;background: linear-gradient(#ddd, #cdcdcd); border:none;}*/

.fenye input#btngo{padding:0 5px;height:35px; line-height:35px;border-radius:2px; background:#cdcdcd; cursor:pointer;background: linear-gradient(#ddd, #cdcdcd); border:none;}

/*pages end*/

.yc{display:none;}

.pagination .jump {float:left;/*height: 24px;line-height: 24px;*/}

.pagination{}

.pagination{padding:0.1rem 0;padding-left:0px;border-top:none;color:#333; }

.pagination input{padding:0.2rem 0;width:3.5rem; text-align:center; display:inline-block}

#btngo{padding:8px 5px;}

.pagination a.current:link,.pagination a.current:visited{font-weight:bold;color:#00a651;}

.pagination a { border:1px solid #d1d1d1; padding:0.1rem 0.3rem; margin-right:5px; float:left}

.pagination a:hover,.pagination a.active{ color:#fff; background:#37aafb; border:1px solid #37aafb; text-decoration:none}

.pages{float:left; overflow:hidden; background:#fff;text-align:center; padding-bottom:0.4rem; }

.pages a{ float:left;border-radius:0.05rem;-webkit-border-radius:0.05rem; background:#e7ebee; height:2.6rem; line-height:2.6rem; padding:0 0.8rem; font-size:0.22rem; overflow:hidden; margin:0 0.5rem;}

.pages span{height:2.6rem;line-height: 2.6rem;float:left;}

.pages input[type="number"]{width:3rem;height:2.6rem;float:left;margin:0rem;padding:0rem;border:0.05rem solid #e0e0e0;margin:0rem 0.5rem;}

.pages i{float:left;font-style:normal;height:2.6rem;line-height:2.6rem;background:#37aafb; color:#fff;padding:0rem 0.3rem;margin:0rem 0.5rem;}

.pages .iconfont{ font-size:0.3rem;}

.pages .on{ background:#37aafb; color:#fff; border-color:#37aafb;}

.de-intro img{display:block; height:auto !important;margin:10px auto; max-width:95%;}

.my-gallery{height: 200px;}

.my-gallery .swiper-slide img, .my-gallery .swiper-slide a{height: 100%; max-width: none; width: auto;}

.my-gallery .swiper-slide{ width: auto; }

.my-gallery img{ display: block; }

.mb10{margin-bottom: 1rem;}

/*2020-7-30*/

.my-gallery .swiper-slide{margin: 0 auto;}

.my-gallery .swiper-slide img{margin: 0 6px;}

/*20200825*/

.zxinfo_text table{border-collapse: collapse; border-spacing: 0;border:1px solid #aaa;text-align:center}

.zxinfo_text table td,.zxinfo_text table th{border:1px solid #aaa;padding:6px 0;}

.zxinfo_text table .firstRow{ background:#ebf7fd;}

/*2020-9-7*/

.xzbox .none_dbtn{ background-color:#aaa;width: 100%; height:3.7rem; display:block;border-radius:0.1rem; font-size:1.6rem; text-align:center; line-height:3.7rem; color:#FFF; }